<h1>Merchant Items Index</h1>

<ul class='merchant-items'>
  <% @merchant_items.each do |item| %>
    <li class="merchant-item-<%= item.id %>" >
      <%= link_to item.name, "/merchants/#{item.merchant.id}/items/#{item.id}" %>
      <p>Status: <%= item[:status] %></p>
      <% if item[:status] == 'Enabled' %>
        <%= button_to "Disable", merchant_item_path(item.merchant.id, item.id, update_status: 'Disabled'), id: "disable-button-#{item.id}-item", method: :patch %>
      <% else %>
        <%= button_to "Enable", merchant_item_path(item.merchant.id, item.id, update_status: 'Enabled'), id: "enable-button-#{item.id}-item", method: :patch %>
      <% end %>
    </li>
  <% end %>
</ul>
